body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
a {
    text-decoration: none;
} 

ul {
    list-style: none;
    padding-inline-start: 0;
    
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 1440px;  
    margin-left: auto;
    margin-right: auto;
    
 
}
/* logo menu addres */
.header {
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    align-items: center;

}
.list-nav {
    display: flex;
    gap: 8px;
}

.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.head-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.head-nav:hover,
.head-nav:focus {
    color: #404bbf;
}
.logo {
    color: #2e2f42;
    
}
.list {
    font-style: normal;
    display: flex;
    
}
.list-addres  {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.list-addres:hover,
.list-addres:focus {
    color: #404bbf;
}

 /*  section one and button */

.section-one {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    
    
}
.title-section-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    justify-content: center;
    margin-top: 68px;
    margin-bottom: 0;
}
.button-section-one {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.04em;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    margin-top: 48px;
    margin-bottom: 68px;
    margin-left: auto;
    margin-right: auto;

    
    
}
.button-section-one:hover,
.button-section-one:focus {
    background-color: #404BBF;
}

/*  section two  */

.section-two {
    
}

.section-two-list {
    display: flex;
    
    
}
.title-section-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    text-align: center;
}
.name-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
}
.text-section-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
}

/* section three */

.section-three {
background-color: #F4F4FD;

}

.list-section-three {
display: flex;
justify-content: center;
gap: 24px;
margin-top: 0;
margin-bottom: 0;
}

.item-section-three {
    background-color:  #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.title-section-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    margin-top: 0;
    
}
.name-section-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
    

}
.text-section-three {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
        
}

/* section four */

.list-section-four {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-section-four {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
}
.name-section-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}
.text-section-four {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
}

/* footer */

.down {
    background-color: #2e2f42;
}

.link-down {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.link-logo {
    color: #f4f4fd;
}

.down-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

